.carrito{
    min-height: 100vh;
    background: white;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    color: black;

    .btn-car{
        background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.05)
        );
        border: 1px solid rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(55px);
        color: rgb(0, 0, 0);
        padding: 0.75rem 1.5rem;
        border-radius: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
}