.carrito{
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(75, 72, 55, 0.753), rgba(39, 36, 27, 0.966)), url(https://i.pinimg.com/550x/92/86/06/928606fec30812d4e985af876f18c389.jpg) no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;

    .btn-car{
        align-items: center;
        width: auto;
        height: auto;
        font-size: 12px;
        background-color: rgb(18, 72, 88);
        margin-bottom: 50px;
    }
}