.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}

.register-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    font-weight: bolder;
    margin: 0;
  }
  .form-screen{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  h2 {
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.7rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #a27b5c;
        outline: none;
      }
    }

    button {
      padding: 0.55rem;
      background-color: #a27b5c;
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #8a634c;
      }
    }
  }
}
