.detail_container{
    padding-top: 5px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    .btn-volver{
        margin-top: 20px;
        width: 50px;
        height: 30px;
        font-size: 10px;
        background-color: #524d25;
    }
    .contenedor-all{
        max-height: 200vh;
        display: flex;
        justify-content: space-between;
        margin: 20px;

        .car-img{
            padding-right: 10px;
            img{
                max-height: 120px;
                margin: 5px;
                cursor: pointer;
            }
        }

        .cont-img{
            max-width: 45%;
            max-height: 650px;
            display: flex;
            img{
                width: auto;
                height: auto;
                cursor: pointer;
            }
        }
        .desc{
            width: 50%;
            padding-top: 20px;
            .title-desc{
                padding-left: 15px;
            }
            
            .price{
                color: rgb(0, 0, 0);
                padding-left: 15px;
            }
                
            .descripcion{
                text-align: justify;
                font-size: 12px;
                padding: 15px;
                color: rgb(0, 0, 0);
            }

            .cont-fn{
                display: flex;
                justify-content: center;
                .btn-fn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: 35px;
                    font-size: 10px;
                    font-weight: lighter;
                    background-color: rgb(101, 102, 43);
                }
            }

            .cont-agregar{
                display: flex;
                justify-content: center;
                .btn-agregar{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                    height: 35px;
                    font-size: 12px;
                    font-weight: lighter;
                    background-color: rgb(101, 102, 43);
                    margin-bottom: 50px;
                }
            }
        }
    
        .contenedor-cant {
            display: flex;
            justify-content: center;
            .btn-cant{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 20px;
                font-size: 10px;
                background-color: rgb(71, 67, 23);
            }
        }
    }

    .mas-prod{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
    }
    
}