.detail_container{
    padding-top: 125px;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    
    .btn-volver{
        margin-top: 20px;
        margin-left: 30px;
        width: auto;
        height: auto;
        font-size: 15px;
        background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.05)
        );
        border: 1px solid rgba(0, 0, 0, 0.185);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(55px);
        color: rgb(0, 0, 0);
        padding: 0.75rem 1.5rem;
        border-radius: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
    .contenedor-all{
        max-height: 200vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px;

        .car-img{
            padding-right: 10px;
            img{
                max-height: 120px;
                margin: 5px;
                cursor: pointer;
            }
            .car-img img.miniatura {
                width: 60px;
                height: 60px;
                margin: 5px;
                cursor: pointer;
                opacity: 0.7;
                border: 1px solid transparent;
                transition: all 0.2s ease-in-out;
                }

                .car-img img.miniatura:hover,
                .car-img img.miniatura.active {
                opacity: 1;
                border: 1px solid #000;
                }
        }

        .cont-img{
            overflow: hidden;
            max-width: 45%;
            max-height: 650px;
            display: flex;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all ease 0.3s;
            }
            img:hover{
                transform: scale(1.5);
                cursor: zoom-in;
            }
        }
        .desc{
            width: 50%;
            padding: 20px;
            padding-right: 50px;

            .title-desc{
                padding-left: 15px;
                padding-bottom: 15px;
                font-size: 30px;
                font-weight: 600;
            }
            
            .price{
                padding-top: 15px;
                color: rgb(0, 0, 0);
                padding-left: 15px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 25px;
            }
                
            .descripcion{
                text-align: justify;
                font-size: 16px;
                padding: 15px;
                color: rgb(0, 0, 0);
            }
            .caract {
                text-align: justify;
                font-size: 15px;
                padding-top: 85px;
            }

            .cont-fn{
                display: flex;
                justify-content: center;
                .btn-fn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: 35px;
                    font-size: 15px;
                    font-weight: lighter;
                    background: linear-gradient(
                    135deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.05)
                    );
                    border: 1px solid rgba(0, 0, 0, 0.185);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(55px);
                    color: rgb(0, 0, 0);
                    padding: 0.75rem 1.5rem;
                    border-radius: 12px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: background 0.3s ease, transform 0.2s ease;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                }
            }
            .agregado {
                color: rgb(31, 77, 20);
                font-size: 15px;
            }
            .cont-agregar-cant{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .cont-agregar{
                    display: flex;
                    justify-content: center;
                    .btn-agregar{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: auto;
                        font-size: 16px;
                        font-weight: lighter;
                        background: linear-gradient(
                        135deg,
                        rgba(0, 0, 0, 0.1),
                        rgba(0, 0, 0, 0.05)
                        );
                        border: 1px solid rgba(0, 0, 0, 0.185);
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(55px);
                        color: rgb(0, 0, 0);
                        border-radius: 12px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: background 0.3s ease, transform 0.2s ease;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    }
                    .cant-select {
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 20px;
                    }
                }
            }
        }
    
        .contenedor-cant {
            display: flex;
            justify-content: center;
            .btn-cant{
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: auto;
                font-size: 10px;
                font-size: 16px;
                background: linear-gradient(
                    135deg,
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.05)
                    );
                    border: 1px solid rgba(0, 0, 0, 0.185);
                    backdrop-filter: blur(3px);
                    -webkit-backdrop-filter: blur(55px);
                    color: rgb(0, 0, 0);
                    border-radius: 12px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: background 0.3s ease, transform 0.2s ease;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .mas-prod{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
    }
    
}