
.list_contaier{
    margin: 0;
    background-color: #080808;
    color: white;
    width: 100%;
    height: auto;

    .list_title{
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}