
.list_contaier{
    margin: 0;
    background-color: #2b2626;
    color: white;
    width: 100%;
    height: auto;
    padding: 50px;

    .list_title{
        font-size: 15px;
        color: rgb(255, 255, 255);
        margin: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}