
body{
    margin: 0;
  }
  
  .header{
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;

    .header_container{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;

      .logo{
        width: 85px;
        height: 75px;
      }

      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
  
        .navbar_link{
          text-decoration: none;
          color: rgb(170, 167, 10);
        }
        
        :hover{
          color: #756f12;
        }
      }
    }
    .cart{
      width: 25%;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
    }
  }

  
  
  
    