.contenedor-api{
    text-align: center;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px;
}

.contenedor-poke{
    align-items: center;
    padding: 10px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
