.contenedorButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .btn1{
        background-color: #35065c;
        text-align: center;
        color: aliceblue;
        margin: 5px;
        padding: 2px;
        border-radius: 15%;
    }
    
    .btn2{
        background-color: #35065c;
        text-align: center;
        color: aliceblue;
        margin: 5px;
        padding: 2px;
        border-radius: 15%;
    }
    
    .btn3{
        background-color: #35065c;
        text-align: center;
        color: aliceblue;
        margin: 5px;
        padding: 2px;
        border-radius: 15%;
    }
}

.ContenedorCounter{
    display: flex;
    justify-content: center;
    align-items: center;
}
