.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);

    .login-form{
        background-color: #fff;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        .login-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 1.5rem;
            font-weight: bold;
        }
        .form-screen{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .input-login{
                padding: 0.7rem 1rem;
                border: 1px solid #ddd;
                border-radius: 0.5rem;
                font-size: 1rem;
                transition: border-color 0.3s ease;
                &:focus {
                    border-color: #a27b5c;
                    outline: none;
                }
            }
            .cont-btn-login {
                display: flex;
                flex-direction: column;
                justify-content: center;
                button {
                    padding: 0.55rem;
                    background-color: #a27b5c;
                    color: white;
                    border: none;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
    
                    &:hover {
                        background-color: #8a634c;
                    }
                }
            }
        }
    }

    .password-wrapper {
        position: relative;

        .input-login {
            width: 100%;
            padding-right: 2.5rem; // espacio para el ícono
        }

        .eye-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #555;
        }
    }
    .error-text {
        color: red;
        font-size: 0.85rem;
        margin: 0 0 0.5rem 0.5rem;
    }   


}